#game {
    width: 700px;
    height: 500px;

}
#game div {
    border: 1px solid black;
    width: 100px;
    height: 200px;
    margin: 10px;
    background-color: gray;
    display: inline-block;
  }
